.container {
  height: 4rem;
  padding: 1rem 6vw;
  display: flex;
  align-items: center;
  background: rgb(var(--clr-4));
  transform: translateY(-100%);
  animation: slideIn 0.5s ease forwards;
}

.container__logo {
  flex: 1 1;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(var(--clr-6));
}

.container__logo svg {
  height: 2rem;
  width: auto;
  margin: 0.5rem;
}

.container__nav {
  flex: 1 1;
}

.container__nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container__nav li {
  padding-left: 1rem;
}

.container__nav li svg {
  height: 1rem;
  width: auto;
  transition: all 0.3s ease;
}

.container__nav li:nth-of-type(1) svg {
  height: 1.4rem;
}

.container__nav a path {
  transition: all 0.3s ease;
}

.container__nav a:hover svg {
  transform: scale(1.1);
}

.container__nav a:hover path {
  fill: rgb(var(--clr-1));
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}
