.container {
  position: absolute;
  padding: 1rem 6vw 1rem 1rem;
  bottom: 0;
  right: 0;
  width: 30%;
  /* background: rgb(var(--clr-1), 0.8); */
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
  z-index: 1;
  backdrop-filter: blur(4px);
  transform: translateX(100%);
  animation: slideIn 0.5s ease 0.3s forwards;
}

.container table {
  width: 100%;
}

.container tr td:nth-of-type(1) {
  background: rgb(var(--clr-3));
  color: rgb(var(--clr-6));
  width: 30%;
}

.container tr td:nth-of-type(2) {
  font-weight: bold;
  background: rgb(var(--clr-1));
}

.container td {
  padding: 0.25rem;
  border: 1px solid rgb(var(--clr-3));
}

.container tr:nth-of-type(2) td,
.container tr:nth-of-type(5) td {
  border: none;
  background-color: transparent;
}

.spacer {
  padding: 0.5rem 0;
}

.button {
  cursor: pointer;
  padding: 0.75em 1.25em;
  margin: 0.5rem 0.25rem;
  border: 1px solid transparent;
  outline: none;
  background: linear-gradient(to right, rgb(var(--clr-2)), rgb(var(--clr-1)));
  transition: all 0.3s ease;
}

.button:hover {
  background: transparent;
  border: 1px solid rgb(var(--clr-1));
  color: rgb(var(--clr-6));
}

@keyframes slideIn {
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 950px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .container {
    width: 100%;
    bottom: 0;
  }
}
